html, body {
    font-family: Commissioner, sans-serif;
    color: #000000;
    letter-spacing: -0.015em;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.burger {
    display: none;
}

.container {
    max-width: 1512px;
    padding: 0 0;
    margin: 0 auto;
    height: 100%;
}

/* ====================================HEADER========================================= */

.header__logo-special {
    display: none;
}

.header__inner {
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
}

.header__logo span {
    display: block;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    margin: 29px 539px 28px 0px;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 34px 0px 33px;
}

.header__nav-item {
    margin-right: 50px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    transition: all 1.3s;
    white-space: nowrap;
}

.header__nav-item:hover {
    color: #18A0FB;
    transition: all 0.3s;
}

.header__nav-item:last-child {
    margin-right: 30px;
}

.header__button {
    background: #18A0FB;
    border-radius: 6px;
    padding: 10px 15px 9px 16px;
    margin: 24px 0px;
    transition: all 1.3s;
    white-space: nowrap;
    width: 130px;
}

.header__button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.header__btn {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 20.79px;
}


/* ====================================MAIN========================================= */
/* ====================================RULES========================================= */

.rules__inner {
    display: flex;
    flex-direction: column;
    padding: 0px 90px;
}

.rules__heading {
    margin-top: 80px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 59px;
    text-align: center;
}

.rules__blocks {
    display: flex;
    flex-direction: column;
}

.rules__block {
    display: flex;
    align-items: flex-end;
    margin-bottom: 80px;
}

.rules__block:last-child {
    margin-bottom: 109px;
}

.rules__photo {
    margin-right: 132px;
}

.rules__photo-rot {
    display: none;
}
.rules__number {
    display: block;
    font-weight: 700;
    font-size: 27px;
    line-height: 36px;
    margin-bottom: 32px;
}

.rules__text {
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.8);
}

/* ====================================FOOTER========================================= */

.footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__text {
    padding: 0px 90px;
    display: flex;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    flex-direction: column;
}

.footer__col:first-child {
    margin-right: 50px;
}

.footer__col:nth-child(2) {
    margin-right: 51px;
}

.footer__col:nth-child(3) {
    margin-right: 47px;
}

.footer__col:nth-child(4) {
    margin-right: 297px;
}

.footer__col:last-child {
    justify-content: flex-start;
}

.footer__heading {
    display: block;
    margin-bottom: 76px;
    transition: all 1.3s;
    white-space: nowrap;
    font-size: 17px;
}

/* при наведении на ссылки цвет ссылок меняется */
.footer__heading:hover {
    color: #18A0FB;
    transition: all 0.3s;
}

.footer__heading:last-child {
    margin-bottom: 0;
}

/* последняя колонка другая (с кнопкой и ссылкой), поэтому к ней применила доп свойства */
.footer__col--special {
    display: flex;
    justify-content: flex-start;
}

.footer__button {
    background: #18A0FB;
    border-radius: 6px;
    padding: 15.41px 35.78px 15.81px 35.22px;
    margin: 24px 0px;
    transition: all 1.3s;
    white-space: nowrap;
    transform: translateY(-81%);
    max-width: 192px;
    text-align: center;
}

.footer__button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.footer__btn {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 20.79px;
}

.footer__icons {
    display: flex;
    margin-bottom: 70px;
    transform: translateY(-50%);
}

.footer__icons-item {
    margin-right: 31px;
}

/* иконки соц сетей увеличиваются при наведении */
.footer__icons-item:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

.footer__icons-item:last-child {
    margin-right: 0;
}

/* ====================================MEDIA========================================= */
/* ====================================1500========================================= */

@media (max-width: 1500px) {
    .header__logo span {
        margin-right: 443px;
        white-space: nowrap;
    }
    .footer__col:nth-child(4) {
        margin-right: 200px;
    }
}

/* ====================================1400========================================= */

@media (max-width: 1400px) {
    .header__logo span {
        margin-right: 380px;
    }
    .footer__col:nth-child(4) {
        margin-right: 100px;
    }
}

/* ====================================1300========================================= */

@media (max-width: 1300px) {
    .header__inner, .rules__inner, .footer__text {
        padding: 0px 60px;
    }

    .header__logo span {
        margin-right: 300px;
    }
}

/* ====================================1250========================================= */

@media (max-width: 1250px) {
    .header__logo span {
        margin-right: 260px;
    }
    .footer__col:first-child, .footer__col:nth-child(2), .footer__col:nth-child(3) {
        margin-right: 35px;
    }
}

/* ====================================1150========================================= */

@media (max-width: 1150px) {
    .header__logo span {
        margin-right: 170px;
    }
    .footer__col:nth-child(4) {
        margin-right: 30px;
    }
    .header__inner, .rules__inner, .footer__text {
        padding: 0px 45px;
    }
    .footer__icons-item svg {
        width: 35px;
    }
}

/* ====================================1050========================================= */

@media (max-width: 1050px) {
    .header__logo span {
        margin-right: 130px;
    }
    .footer__col:first-child, .footer__col:nth-child(2), .footer__col:nth-child(3), .footer__col:nth-child(4) {
        margin-right: 15px;
    }
}

/* ====================================1000========================================= */

@media (max-width: 1000px) {
    .rules__heading {
        margin-top: 41px;
        font-size: 22px;
    }
    .rules__block {
        align-items: start;
        justify-content: flex-start;
        margin-bottom: 57px;
    }
    .rules__block:nth-child(2), .rules__block:nth-child(4), .rules__block:last-child {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-right: -20px;
    }
    .rules__block:last-child {
        margin-bottom: 83px;
    }
    .rules__photo img {
        max-width: 344px;
    }
    .rules__photo {
        margin-right: 20px;
    }
    .rules__number {
        font-size: 21px;
        margin-bottom: 17px;
    }
    .rules__text {
        font-size: 14px;
    }
    .footer__button {
        transform: translateY(-78%);
    }
}
/* ====================================950========================================= */

@media (max-width: 950px) {

    .header__logo span {
        margin-right: 121px;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
    }

    .header__nav-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-right: 26px;
    }

    .header__nav-item:last-child {
        margin-right: 26px;
    }

    .header__button {
        padding: 8.5px 16.45px 9.05px 15.55px;
        margin: 17px 0px 17.45px;
        transition: all 1.3s;
        white-space: nowrap;
        align-self: center;
        max-width: 113px;
    }

    .header__btn {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        vertical-align: middle;
    }

    .footer__heading, .footer__btn {
        font-size: 14px;
    }

    .footer__button {
        padding: 10.12px 19.62px 9.68px 19.38px;
        max-width: 120px;
        transform: translateY(-90%);
    }

    .footer__icons-item {
        margin-right: 10px;
    }
}

/* ====================================850========================================= */

@media (max-width: 850px) {
    .video__click svg {
        width: 35px;
    }
}

/* ====================================768========================================= */

@media (max-width: 768px) {
    .header__inner, .rules__inner, .footer__text {
        padding: 0 30px;
    }

    .header__logo span {
        margin-right: 121px;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
    }

    .header__nav-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-right: 26px;
    }

    .header__nav-item:last-child {
        margin-right: 26px;
    }

    .header__button {
        padding: 8.5px 16.45px 10.05px 15.55px;
        margin: 17px 0px 17.45px;
        transition: all 1.3s;
        white-space: nowrap;
        align-self: center;
    }

    .header__btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        vertical-align: middle;
    }
    .rules__text {
        max-width: 344px;
    }
}

/* ====================================750========================================= */

@media (max-width: 750px) {
    .header__inner, .rules__inner, .footer__text {
        padding: 0 16px;
    }

    .header__logo span {
        margin-right: 50px;
    }
    .rules__photo img {
        max-width: 300px;
    }

    .footer__text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__col:first-child, .footer__col:nth-child(2), .footer__col:nth-child(3), .footer__col:nth-child(4) {
        display: none;
    }

    .footer__button {
        margin: 0px auto;
        padding: 8.35px 25.05px 9.65px 24.95px;
        width: 126px;
    }
    .footer__btn {
        font-size: 13px;
        line-height: 15.9px;
    }

    .footer__icons-item {
        margin-right: 31px;
    }

    .footer__icons {
        margin-bottom: 0;
    }
}

/* ====================================660========================================= */

@media (max-width: 660px) {
    .header {
        position: relative;
    }

    .header__logo-special {
        display: block;
        font-weight: 800;
        font-size: 17px;
        line-height: 21px;
        margin: 19.5px auto 19.5px 16px;
        white-space: nowrap;
    }

    .burger {
        /* position: fixed; */
        position: absolute;
        top: -19px;
        right: 0;
        z-index: 300;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s;
    }

    .burger--follow {
        top: 15px;
        right: 15px;
        box-shadow: 0 1px 8px #a1a1a1;
        background-color: #FFFFFF;
    }

    .burger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000000;
        margin: 4px 0;
        z-index: 150;
    }

    .burger::before,
    .burger::after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000000;
        z-index: 150;
    }

    .header__burger {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #FFFFFF;
        transition: all 0.3s;
        min-width: 320px;
        transform: translateX(100%);
        transition: all 0.7s;
        z-index: 100;
    }

    .header__burger--open {
        transform: translateX(0%);
    }

    .header__inner {
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    .header__logo span {
        margin: 90px auto;
        justify-self: center;
        align-self: center;
    }

    .header__nav-list {
        flex-direction: column;
        text-align: center;
        margin-right: 0;
    }

    .header__nav-item {
        padding: 20px 0px;
        text-align: center;
        margin-right: 0;
    }

    .header__nav-item:last-child {
        margin-right: 0;
    }
    .rules__photo-img {
        display: none;
    }
    .rules__photo-rot {
        display: block;
    }

    .footer__icons-link svg {
        width: 30px;
    }
}

/* ====================================600========================================= */
@media (max-width: 600px) {}

/* ====================================550========================================= */


/* ====================================500========================================= */
@media (max-width: 500px) {
    .rules__heading {
        margin: 52px 0px 49px;
    }
    .rules__number {
        font-size: 15px;
    }
    .rules__text {
        font-size: 12px;
        max-width: 224px;
    }
    .rules__photo {
        margin-right: 8px;
    }
    .rules__block:nth-child(2), .rules__block:nth-child(4), .rules__block:last-child {
        margin-right: -8px;
    }
}
/* ====================================480========================================= */
@media (max-width: 480px) {}

/* ====================================450========================================= */
@media (max-width: 450px) {}

/* ====================================415========================================= */
@media (max-width: 415px) {}

/* ====================================380========================================= */
@media (max-width: 380px) {
    .rules__photo img {
        max-width: 150px;
    }
    .rules__text {
        font-size: 12px;
        max-width: 200px;
    }
}